.top-info{}
.top-info li:first-child{
    border:  none;
}
.top-info li:last-child{
    padding-right: 0 !important;
}
.top-info li{
    font-size:  18px;
    color: #424242;
    border-left: 2px solid #e2e2e2;
    padding: 6px 15px;
   }
.top-info li i{}
.top-info li a{}
.top-info li a:hover{

	}
